.main {
	padding: 20px 0;
}
.hero {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;

	justify-content: center;
	position: relative;
	overflow: hidden;
}
.hero img {
	background-image: cover;
}

.text-wrapper {
	text-align: center;
}

.headline {
	font-size: 50px;
	color: white;
	font-weight: 100;
	line-height: 0.5;
	font-weight: bold;
	font-family: Montserrat;
}
.headline2 {
	font-size: 50px;
	color: white;
	font-weight: 100;
	line-height: 0.5;
	font-weight: bold;
	font-family: Montserrat;
	padding-top: 30px;
}
.para {
	color: white;
	padding-top: 30px;
}
.parallax {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.overflow {
	height: 200vh;
}
